<body>
    <header>
      <h1>LALY BLOG</h1>
      <nav>
        <button pButton type="button" label="Inicio" icon="pi pi-home" (click)="goToSection('inicio')"></button>
        <button pButton type="button" label="Biografía" icon="pi pi-info-circle" (click)="goToSection('biografia')"></button>
        <button pButton type="button" label="Galería" icon="pi pi-images" (click)="goToSection('galeria')"></button>
        <button pButton type="button" label="Contacto" icon="pi pi-envelope" (click)="goToSection('contacto')"></button>
      </nav>
    </header>
    
    <div #inicio class="section carousel-container">
      <h2 class="section-title">Juelieta Cazzuchelli</h2>
      <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [responsiveOptions]="responsiveOptions" 
                  [circular]="true" [autoplay]="true" [autoplayInterval]="3000">
        <ng-template pTemplate="item" let-item>
          <div class="carousel-item">
            <img [src]="item" alt="Imagen de Cazzu" />
          </div>
        </ng-template>
      </p-carousel>
    </div>
    
    <!-- Historia de Cazzu -->
    <div #biografia class="section historia-cazzu">
      <h2 class="section-title">¿Quién es Cazzu?</h2>
      <p>Cazzu, cuyo nombre real es Julieta Emilia Cazzuchelli es una cantante, compositora y rapera argentina, nacida el 16 de diciembre de 1993 en Ledesma, Jujuy, Argentina. Se considera una de las artistas más influyentes del género urbano y una de las voces más destacadas en el trap latino.
          Cazzu comenzó su carrera en la música a una edad temprana, y su estilo musical inicialmente fue influenciado por el hip hop y el rap, pero con el tiempo ha incorporado géneros como reguetón, trap, y pop urbano a su música. Su talento y su estilo único la han llevado a ser reconocida como la "Reina del Trap" en América Latina.
      </p>
    </div>
    
    <!-- Cards -->
    <div #galeria class="section card-container">
      <h2 class="section-title">Logros y Colaboraciones</h2>
      <p-card header="El impacto de su álbum 'Nena Trampa'" subheader="Un antes y un después en su carrera" [style]="{ width: '300px' }">
        <ng-template pTemplate="header">
          <img alt="" src="https://www.lahiguera.net/musicalia/artistas/cazzu/disco/12198/cazzu_nena_trampa-portada.jpg" />
        </ng-template>
        <p>
          El álbum "Nena Trampa" marcó un momento crucial en la carrera de Cazzu. Con canciones como "Maléfica" y "Jefa", la cantante mostró una evolución artística, explorando su lado más oscuro y emocional.
        </p>
      </p-card>
    
      <p-card header="Cazzu y Artistas Top" subheader="Una colaboración inolvidable" [style]="{ width: '300px' }">
        <ng-template pTemplate="header">
          <img alt="" src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/05/26/16535787457479.jpg" />
        </ng-template>
        <p>
          La colaboración entre Cazzu y Bad Bunny en la canción "Loca (Remix)" fue un éxito rotundo, catapultando a la cantante al estrellato internacional.
        </p>
      </p-card>
    </div>
    
    <!-- Formulario -->
    <div #contacto class="section form-container">
      <h2 class="section-title">Únete como Fan</h2>
      <form id="fanForm" action="#" method="POST">
        <div class="form-group">
          <label for="name">Nombre Completo:</label>
          <input type="text" id="name" name="name" placeholder="Ingresa tu nombre completo" required />
        </div>
        <div class="form-group">
          <label for="country">País:</label>
          <input type="text" id="country" name="country" placeholder="Indica tu país" required />
        </div>
        <div class="form-group">
          <label for="message">Mensaje o Comentario:</label>
          <textarea id="message" name="message" rows="4" placeholder="Deja un mensaje para Cazzu o su equipo"></textarea>
        </div>
        <div class="form-group">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </body>
  